<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Parabéns! Você está inscrito no Workshop Web4Beginners!

      Ele ocorrerá na quarta dia 19 de março. No prédio do Tecgraf, dentro do estacionamento da PUC-Rio.

      Não falte!
    </p>
  </body>
</html>

